Binaries/
Build/
Debug/
Intermediate/
Saved/

Content/Collections/
Content/Developers/

Plugins/DroidSense/Binaries/
Plugins/DroidSense/Intermediate/

.vs/
_build/

*.sln
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.pdb
